<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link  type="text/css" rel="stylesheet" href="style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title></title>
  </head>
  <style >
  .box{
    height: 200px;
    width: 200px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   text-align: center;
    margin-right: 40px;
    margin-bottom: 40px;
  }
  .box:hover{
    background-color:grey;
    color: red;
    background-color:grey !important;
  }
  .box h3{
    text-align: center;
  }

  </style>
  <body>

    <script>

  $(function(){

      $("#search").keyup(function(){
          var text=$(this).val();
          if(text.length>=1)
          {
            if(text!=''){

              $.ajax({

                                url:"/",
                                method:"post",
                                data:{search:text},
                                dataType:"text",

                                success:function(data){

                                var datas=[];
                                datas=JSON.parse(data);
                                if(datas.length>=2)
                                {
                                     var str="<div class='container'><div class='row'>";
                                      datas.forEach(function(data){
                                      str+= "<div class='box col-md-3 col-sm-6'><h3>"+ data.MovieName + '</h3>';
                                      str +=  '<h5>IMDbb Rating :-'+ data.IMDbRating + '</h5>';
                                      str +=  '<h5> Release Year:-' + data.Year + '</h5>';
                                      str +=  '<h5>Awards :-' + data.Awards + '</h5>';
                                      str +=  '<h5> IMDb Votes:-' + data.NumberOfIMDbVotes + '</h5></div>';
                                      console.log(data);
                                          });
                                  document.getElementById("result").innerHTML = str;
                                }
                                }
                          });

                          }

                          }

                                else
                                {
                                $("#result").html("<h2 style='text-align:center; color:white;'>please enter the name</h2>");
                                }


                          });



  });




  </script>



     <div class="container">
     <h3 style="text-align:center;">TYPE THE MOVIE YOU WANT TO WATCH</h3>

            <div class="form-group">
            <input class="form-control" type="text"  name="search" id="search" placeholder="Please Enter the Movie Name" style="margin-top:20px;width:200px; border-radius:10px;width:100%;">
            </div>
            <div id="result"></div></div></div>
  </body>
</html>
